.cg-content-gate {
    margin-bottom: 1.5em;
}

.cg-message {
    margin-bottom: 1em;
}

.cg-gate-form {
    margin-bottom: 1.5em;
}

.cg-gate-form label {
    display: inline;
    margin-right: 0.5em;
    min-width: 4em;
}

.cg-gate-form input[type="text"],
.cg-gate-form input[type="email"] {
    margin-right: 1em;
    margin-bottom: 0.75em;
    width: 50%;
    max-width: 20em;
}

.cg-gate-form input[type="submit"] {
    margin-top: 0.5em;
}